p{ color:black;
  font-size:30px;
  fontstyle:italic;
  
  }
#p1
{ color:black;
  font-size:30px;
  fontstyle:italic;
   text-align:justify;
 }
a
{text-decoration:none;
text-transform:uppercase;
}
